@charset "UTF-8";

body {
  background-color: var(--grey-900);
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

main#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background-color: var(--grey-800);
  color: var(--white);
  box-shadow: 0px 0px 5px var(--grey-700);
  border-radius: 8px;
}

main#content img {
  border-radius: 50%;
  width: 75px;
  margin-block: 20px;
}

main#content h1 {
  margin-block: 10px;
  font-size: 2.5em;
  font-weight: 500;
}

main#content h2 {
  margin-bottom: 10px;
  font-size: 1.4em;
  color: var(--green);
  font-weight: 600;
}

main#content p {
  margin-block: 20px;
  font-size: 1.4em;
  font-weight: 500;
}

main#content .buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main#content .buttons a {
  width: 90%;
  height: 40px;
  margin-bottom: 15px;
  border-radius: 8px;
  align-content: center;
  font-size: 1.2em;
  font-weight: 800;
  color: var(--white);
  background-color: var(--grey-700);
}

main#content a:hover {
  background-color: var(--green);
  color: var(--grey-700);
}

.attribution {
  font-size: 1.2em;
  color: var(--white);
}

.attribution a {
  font-weight: 600;
  color: var(--white);
}

.attribution a:hover {
  color: var(--blue);
  text-decoration: underline;
}