@charset "UTF-8";

@media screen and (width > 375px) {
  main#content {
    width: 370px;
  }

  main#content img {
    margin-top: 30px;
  }

  main#content .buttons {
    margin: 0 20px 20px 20px;
  }

  main#content .buttons a {
    width: 85%;
  }
}